* {
    box-sizing: border-box;
    
}

body {
    background-color: #1F2937;
}

/* Images */
.logo {
    height: 30px;
    width: 80px;
}

.right-pic {
    height: 200px;
    width: 500px;
}

/* Header Top section */

.header-container {
    background-color: #1F2937;
    display: flex;

}

a {
    text-decoration: none;
    color: #E5e7EB;
    font-size: 12px;
}

.header-container, .logo-slot, .link-slot {
    flex: 1;
}

.logo-slot {
    margin-left: 150px;
}

.link-slot {
    display: flex;
    gap: 50px;
}



/* top mid of page */

.tbody-container {
    background-color: #1F2937;
    display:flex;
    justify-content: space-evenly;
    padding-top: 70px;
    
}

.left-text {
    width: 500px;
    height:200px;
}

.tbody-container .left-text .right-text {
    flex: 1;
}

/* Buttons */
.sign-up-button {
    height: 26px;
    width: 90px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    text-align: center;
    padding-top: 4px;

}


h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

/* Middle of the page */
.mbody-1-of-3 {
    background-color: white;
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    font-size: 19px;
}

/* four boxes */
.mbody-1-of-3 div {
    height: 120px;
    width: 120px;
    border: 3px solid #3882F6;
    border-radius: 10px;
    display:inline-flex;
    margin: 15px;
}

/* text under boxes */

.underbox-text {
    display: flex;
    background-color:white;
    text-align: center;
    justify-content:center;
    gap: 45px;
}

.underbox-text div {
    width: 120px;
    height: 150px;
}

.underbox-text p {
    font-size: 13px;
    color: grey;
}

/* bottom of page */

.mbody-2-of-3 {
    background-color: #E5E7EB;
    height: 250px;
    width: 100%;
    overflow:hidden;
    align-items: center;
    display: flex;
    text-align: center;
}

.mbody-2-of-3 p {
    color: darkgrey;
    font-size: 28px;
    height: 150px;
    width: 500px;
    margin-left: 340px;
}

.peragraph-sign { 
    font-size: 26px;
}

.mbody-3-of-3 {
    background-color: white;
    height: 230px;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.complex-container {
    background-color: #3882F6;
    height: 100px;
    width: 700px;
    border-radius: 5px;
    color: white;
    text-align:center;
    display: flex;
}

.complex-container .left-one {
    display:inline;
    padding: 0;
    width: 300px;
    margin-left: 50px;
}

.other-button {
    border: 1px solid white;
    text-align: center;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin-top: 35px;
    margin-left: 150px;
    padding-top: 5px;
    
}

.complex-container h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-left: 13px;
}

.complex-container p {
    font-size: 13px;
    width: 250px;
    margin-left: 50px;
    margin-top: -18px;
}


footer {
    text-align: center;
    color: white;
    font-size: 12px;
}
